<!-- banner section start -->
<section role="banner">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption-banner">
          <img src="../../assets/images/banner/emp_basic.png" class="w-100" alt="banner">
          <div class="carousel-caption-bottom">
            <div class="container">
              <span>Ted Mosby</span> <span>CEO, Honda, Disney</span> <a href="#?">Read Story</a>
            </div>
          </div>
        </div>
        <div class="carousel-caption">
          <h3>Hire employees fast and easy.</h3>
          <p>Grow your business and make it happen.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner section end -->

<!-- clients section -->
<ahh-scroll></ahh-scroll>
<!-- clients end section -->

<!-- Transforming Traditional section start -->
<section class="section-padding image-half-split">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2 class="title mb-4">Branding and recruitment recreated. Consistent hiring done right.</h2>
        <p>Tailored for the best headhunters in the recruitment field, we aim to provide an efficient system to search
          for quality hires and speed up recruitment stages within a single digital platform.</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="image-half-right">
          <img src="../../../assets/images/pages/student/computer_mockup.png" alt="mockup_image">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Transforming Traditional section end -->

<!--  Flawless Recruitment section start -->
<section class="section-padding bg-gray">
  <div class="container">
    <h2 class="title text-center mb-3">Flawless Recruitment</h2>
    <p class="text-center">It’s better than a website.</p>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail text-center">
          <img class="thumbnail-image" src="../../../assets/images/pages/employer/icons/f1.svg" alt="">
          <strong class="thumbnail-title">Easy Marketing</strong>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail text-center">
          <img class="thumbnail-image" src="../../../assets/images/pages/employer/icons/f2.svg" alt="">
          <strong class="thumbnail-title">Quick Inquiries</strong>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail text-center">
          <img class="thumbnail-image" src="../../../assets/images/pages/employer/icons/f3.svg" alt="">
          <strong class="thumbnail-title">Systematic Records</strong>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail text-center">
          <img class="thumbnail-image" src="../../../assets/images/pages/employer/icons/f4.svg" alt="">
          <strong class="thumbnail-title">Customizable Solution</strong>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Why Askheadhunter section end -->

<!--  price section start -->
<section class="section-padding">
  <div class="container">
    <h2 class="title text-center mb-4">Pricing</h2>
    <div class="card-deck pricing">
      <div class="card">
        <div class="card-body">
          <img class="card-icon" src="../../../assets/images/pages/employer/icons/freelancer_icon.svg" alt="freelancer_icon">
          <h5 class="card-title">Freelancer</h5>
          <p class="card-text">Everything you need to get started</p>
          <span class="price"> <sup>RM</sup> 1,800</span>
          <button type="button" class="btn btn-outline-primary">Select Package</button>
          <hr>
          <ul class="list-unstyled">
            <li>Includes all of our base features <i class="icon-info"></i></li>
            <li>1+1 Job posting credit <i class="icon-info"></i></li>
            <li>10 talent search complimentary <i class="icon-info"></i></li>
            <li>Valid for 3 months <i class="icon-info"></i></li>
          </ul>
        </div>
      </div>
      <div class="card active">
        <div class="card-body">
          <img class="card-icon" src="../../../assets/images/pages/employer/icons/agency_icon.svg" alt="freelancer_icon">
          <h5 class="card-title">Agency</h5>
          <p class="card-text">Our most popular plan <br><br></p>
          <span class="price"> <sup>RM</sup> 8,000</span>
          <button type="button" class="btn btn-outline-primary active">Select Package</button>
          <hr>
          <ul class="list-unstyled">
            <li>Includes all of our base features <i class="icon-info"></i></li>
            <li>10 Job posting credit <i class="icon-info"></i></li>
            <li>25 talent search complimentary <i class="icon-info"></i></li>
            <li>Valid for 6 months <i class="icon-info"></i></li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <img class="card-icon" src="../../../assets/images/pages/employer/icons/organization_icon.svg" alt="freelancer_icon">
          <h5 class="card-title">Organization</h5>
          <p class="card-text">Everything you need plus premium features</p>
          <span class="price"> <sup>RM</sup> 10,000</span>
          <button type="button" class="btn btn-outline-primary">Select Package</button>
          <hr>
          <ul class="list-unstyled">
            <li>Includes all of our base features <i class="icon-info"></i></li>
            <li>20-50 Job posting credit <i class="icon-info"></i></li>
            <li>Unlimited talent search complimentary <i class="icon-info"></i></li>
            <li>Dedicated career page for employee branding <i class="icon-info"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  price section end -->

<!--  hunting section start -->
<section class="section-padding">
  <div class="container">
    <div class="card text-center get-started" [ngStyle]="{'background-image': 'url(assets/images/banner/get-started.png)'}">
      <div>
        <h2 class="title mb-3">
          <a href="#?" [ngStyle]="{'color':'black', 'text-decoration': 'underline'}">Talk to us</a>
          today to see how we can help you with your recruitment headache!</h2>
        <a href="#?" class="btn btn-secondary btn-lg mr-sm-4">Schedule a Demo</a>
        <a href="#?" class="btn btn-primary btn-lg">Try it for Free</a>
      </div>
    </div>
  </div>
</section>
<!--  hunting section end -->
