<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-5">
      <div class="media">
        <img src="../../assets/images/logo.png" width="100" class="footer-logo" alt="logo">
        <div class="media-body">
          AskHeadHunter is an on-demand job platform that manages quality candidates using a one-stop platform designed
          for modern headhunters.<br><br>
          <a href="#?">Thailand</a> | <a href="#?">Singapore</a> | <a href="#?">Malaysia</a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-7 footer__right">
      <ul class="list-unstyled text-regular">
        <li><a href="/aboutus">About</a></li>
        <li><a href="/social">Social</a></li>
        <li><a href="/contactus">Contact</a></li>
      </ul>
      <ul class="list-unstyled">
        <li><a href="/tou">Terms of use</a></li>
        <li><a href="/privacy-policy">Privacy policy</a></li>
        <li><a href="/advertising-policy">Advertising policy</a></li>
      </ul>
      <form>
        <div class="form-group">
          <label for="newsletter">Newsletter</label>
          <input type="email" class="form-control" id="newsletter" placeholder="name@email.com">
        </div>
        <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="footer-bottom">
      <ul class="footer-bottom__item list-unstyled list-inline">
          <li class="list-inline-item mr-3"><a href="#?"><i class="svg svg-facebook"></i></a></li>
          <li class="list-inline-item mr-3"><a href="#?"><i class="svg svg-instagram"></i></a></li>
          <li class="list-inline-item mr-3"><a href="#?"><i class="svg svg-twitter"></i></a></li>
          <li class="list-inline-item mr-3"><a href="#?"><i class="svg svg-youtube"></i></a></li>
        </ul>
    <div class="footer-bottom__item">
      Copyright Ⓒ 2018 AskHeadHunter Sdn Bhd
    </div>
  </div>
</div>
