<!-- banner section start -->
<section role="banner">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption-banner">
          <img src="../../assets/images/banner/emp_basic.png" class="w-100" alt="banner">
          <div class="carousel-caption-bottom">
            <div class="container">
              <span>Nina Chu</span> <span>CEO, Touchnote</span> <a href="#?">Read Story</a>
            </div>
          </div>
        </div>
        <div class="carousel-caption">
          <h3>Hire employees fast and easy.</h3>
          <p>Grow your business and make it happen.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner section end -->

<!-- clients section -->
<ahh-scroll></ahh-scroll>
<!-- clients end section -->

<!--  Modern Recruitment section start -->
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h2 class="title m-md">Your Modern Recruitment Platform</h2>
        <plyr style="display: block; width: 100%;" plyrTitle="Video 1" [plyrSources]="videoSources"></plyr>
      </div>
      <div class="col-md-8 offset-md-2">
        <ul class="custom-list">
          <li>
            <span class="custom-list_title">Your new recruitment assistant</span>
            <p class="custom-list_content">Step up your recruitment game with our post jobs services which post to free
              and premium job boards to enhance more visibility. Once you post a jobs, you’ll get the advertisement
              short link and qr code to be publish elsewhere at your convenience.</p>
          </li>
          <li>
            <span class="custom-list_title">Web-based convenience</span>
            <p class="custom-list_content">Our web-based ATS provides the opportunity to manage your company
              recruitment website. Just post jobs via our HEADHUNTER + and the same jobs will be posted at your
              website. How easy was that to manage active jobs and no more outdated jobs posted at your site!</p>
          </li>
          <li>
            <span class="custom-list_title">Build your talent bank via qr code</span>
            <p class="custom-list_content">Post jobs and get a QR code for each job advertisement. Print the QR code
              and candidates can scan the qr code and deposit resume with you. What a way to build your database and go
              digital!</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--  Modern Recruitment section end -->

<!--  Why Askheadhunter section start -->
<section class="section-padding bg-gray">
  <div class="container">
    <h2 class="title text-center mb-4">Why Askheadhunter?</h2>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail">
          <img class="thumbnail-image" src="../../../assets/images/pages/basic/icons/f1.svg" alt="">
          <strong class="thumbnail-title">Faster Recruitment, Quality Hires</strong>
          <p class="thumbnail-content">We are bringing efficiency and effectiveness in today’s recruitment sphere.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail">
          <img class="thumbnail-image" src="../../../assets/images/pages/basic/icons/f2.svg" alt="">
          <strong class="thumbnail-title">Rapid Results</strong>
          <p class="thumbnail-content">With advanced algorithm and categorisation, headhunters can discover and match
            the best talents with the perfect employment opportunities.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail">
          <img class="thumbnail-image" src="../../../assets/images/pages/basic/icons/f3.svg" alt="">
          <strong class="thumbnail-title">Affordable</strong>
          <p class="thumbnail-content">With affordable measures, payments are credited with every successful hire
            ranging from mid-level to high-level job positions.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thumbnail">
          <img class="thumbnail-image" src="../../../assets/images/pages/basic/icons/f4.svg" alt="">
          <strong class="thumbnail-title">High Speed Hires</strong>
          <p class="thumbnail-content">Create efficiency in the recruitment process by minimising waiting time and
            eliminating unresponsive leads.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Why Askheadhunter section end -->

<!--  Key Features section start -->
<section class="section-padding">
  <div class="container">
    <h2 class="title text-center mb-4">Key Features</h2>
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
          <img class="thumbnail-image" src="../../../assets/images/pages/basic/icons/kf1.svg" alt="">
          <strong class="thumbnail-title">Easy Job Creation</strong>
          <p class="thumbnail-content">Companies can enjoy the freedom of creating and customising job postings that
            are viewable on the main job board. HEADHUNTER + focuses on creating a seamless search experience for
            recruiters and headhunters. All candidate profiles are categorised by experiences, qualifications and more.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
          <img class="thumbnail-image" src="../../../assets/images/pages/basic/icons/kf2.svg" alt="">
          <strong class="thumbnail-title">Effective Management</strong>
          <p class="thumbnail-content">Whether you’re managing new leads or overseeing recruitment progress, gain
            access to our HEADHUNTER + is to stay on track with real-time efficiency. It also helps recruiters and
            headhunters to stay organised through the recruitment process and streamline candidate selections within a
            few clicks.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
          <img class="thumbnail-image" src="../../../assets/images/pages/basic/icons/kf3.svg" alt="">
          <strong class="thumbnail-title">Convenient Scheduling</strong>
          <p class="thumbnail-content">From early assessment screenings to interview schedules, you can search and
            secure your potential hires with full confidence. As an online platform, HEADHUNTER + also provides the
            benefit of tracking and sorting interviews anytime and anywhere with minimal effort.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
          <img class="thumbnail-image" src="../../../assets/images/pages/basic/icons/kf4.svg" alt="">
          <strong class="thumbnail-title">Excellent Reporting</strong>
          <p class="thumbnail-content">Go behind the scenes and track the progress of potential and passive candidates.
            HEADHUNTER + provides an accurate recruitment report to guide you. Additionally, it presents key
            information and indicators to monitor hiring performance analysis and produce consistent reporting.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
          <img class="thumbnail-image" src="../../../assets/images/pages/basic/icons/kf5.svg" alt="">
          <strong class="thumbnail-title">Saves Time &amp; Cost</strong>
          <p class="thumbnail-content">Reducing waiting time and unnecessary costs are the things we strive to achieve.
            Our efficient HEADHUNTER + is designed to eliminate the long processing time. It also serves as a one-stop
            portal that combine every task into a single all-access space for recruiters and headhunters.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="thumbnail">
          <img class="thumbnail-image" src="../../../assets/images/pages/basic/icons/kf6.svg" alt="">
          <strong class="thumbnail-title">Wide Talent Pool</strong>
          <p class="thumbnail-content">As a one-stop platform for discovering quality hires and exploring potential
            candidates, our HEADHUNTER + comes with a wide talent pool. Ranging from mid-level to top-level hires, our
            candidates come from various backgrounds, qualifications, professional experiences, education levels and
            more.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  Key Features section end -->



<!-- Transforming Traditional section start -->
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="image-half">
          <img src="../../../assets/images/pages/basic/mockup_image.png" alt="mockup_image">
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h2 class="title mb-4">Transforming Traditional Recruitment with <a href="#?">Headhunter+</a></h2>
        <ul class="custom-list">
          <li>
            <span class="custom-list_title">Access to Quality Talents</span>
            <p class="custom-list_content">Match any job opportunities with quality talents from our HEADHUNTER +.
              Perfect for mid-level and top-level hires, candidate profiles are constantly updated to provide you with
              a pool of potential job seekers who are ready for their next career move. If you had candidate resume
              from elsewhere, just drag and drop that resume to our folder. It works just like dropbox and share it
              with your team member. No more personal folder.</p>
          </li>
          <li>
            <span class="custom-list_title">Simplified Process</span>
            <p class="custom-list_content">Our ATS is designed to assist your recruitment process and ultimately,
              simplifying the complicated and time-consuming hiring stages. Our database allows you to search for the
              perfect candidates, learn more about them through their profiles and schedule a convenient interview
              time.</p>
          </li>
          <li>
            <span class="custom-list_title">Data Consistency</span>
            <p class="custom-list_content">Our ATS database eliminates data redundancy and duplication that often arise
              with traditional filing methods. By managing a huge amount of profiles within a single platform, the
              issue of data redundancy can be reduced and monitored effortlessly.</p>
          </li>
        </ul>
        <a href="#?" class="btn btn-lg btn-primary mt-4">Learn More</a>
      </div>
    </div>
  </div>
</section>
<!-- Transforming Traditional section end -->


<!--  hunting section end -->
<section class="section-padding pt-0">
  <div class="container">
    <div class="card text-center get-started" [ngStyle]="{'background-image': 'url(assets/images/banner/get-started.png)'}">
      <div>
        <h2 class="title mb-3">Let’s start talent hunting for your business!</h2>
        <a href="#?" class="btn btn-primary btn-lg">Try it for Free</a>
      </div>
    </div>
  </div>
</section>
<!--  hunting section end -->
