<!-- banner section start -->
<section>
  <div class="sub-banner" [ngStyle]="{'background-image': 'url(assets/images/banner/about_us.png)'}"></div>
</section>
<!-- banner section end -->
<!--  About Us section start -->

<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-10 offset-md-1">
        <h1 class="title text-left f50 mb-5">Social</h1>
        <div class="pills-tabs filter-tab">
          <tabset type="pills">
            <tab heading="All">
              <div class="card-columns">
                <div class="card">
                  <img src="../../assets/images/pages/social/social1_image.png" class="card-img-top" alt="social1_image">
                  <div class="card-body">
                    <span class="card-head">WORK</span>
                    <h5 class="card-title">Are you getting paid enough?</h5>
                    <p class="card-text">This is how much Malaysians should be earning this 2017.</p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/images/pages/social/social1_image.png" class="card-img-top" alt="social1_image">
                  <div class="card-body">
                    <span class="card-head">WORK</span>
                    <h5 class="card-title">Are you getting paid enough?</h5>
                    <p class="card-text">This is how much Malaysians should be earning this 2017.</p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/images/pages/social/social4_image.png" class="card-img-top" alt="social1_image">
                  <div class="card-body">
                    <span class="card-head">WORK</span>
                    <h5 class="card-title">Are you getting paid enough?</h5>
                    <p class="card-text">This is how much Malaysians should be earning this 2017.</p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/images/pages/social/social5_image.png" class="card-img-top" alt="social1_image">
                  <div class="card-body">
                    <span class="card-head">WORK</span>
                    <h5 class="card-title">Are you getting paid enough?</h5>
                    <p class="card-text">This is how much Malaysians should be earning this 2017.</p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/images/pages/social/social4_image.png" class="card-img-top" alt="social1_image">
                  <div class="card-body">
                    <span class="card-head">WORK</span>
                    <h5 class="card-title">Are you getting paid enough?</h5>
                    <p class="card-text">This is how much Malaysians should be earning this 2017.</p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/images/pages/social/social1_image.png" class="card-img-top" alt="social1_image">
                  <div class="card-body">
                    <span class="card-head">WORK</span>
                    <h5 class="card-title">Are you getting paid enough?</h5>
                    <p class="card-text">This is how much Malaysians should be earning this 2017.</p>
                  </div>
                </div>
                <div class="card">
                  <img src="../../assets/images/pages/social/social5_image.png" class="card-img-top" alt="social1_image">
                  <div class="card-body">
                    <span class="card-head">WORK</span>
                    <h5 class="card-title">Are you getting paid enough?</h5>
                    <p class="card-text">This is how much Malaysians should be earning this 2017.</p>
                  </div>
                </div>
              </div>
            </tab>
            <tab heading="Work">
              sdd
            </tab>
            <tab heading="Live">
              sdf
            </tab>
            <tab heading="Travel">
              sdf
            </tab>
            <tab heading="Guides">
              sdf
            </tab>
            <tab heading="On-Boarding">
              sdf
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  About Us section end -->
