<!-- banner section start -->
<section>
    <div class="sub-banner" [ngStyle]="{'background-image': 'url(assets/images/banner/about_us.png)'}"></div>
  </section>
<!-- banner section end -->

<!--  About Us section start -->

  <section class="section-padding">
      <div class="container">
        <h1 class="title text-left f50 mb-5">About Us</h1>
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <img src="../../assets/images/pages/aboutus/icon/kf2.svg" class="mb-4 mt-3" alt="folder">
            <h2 class="title text-left f30 mb-3">Who We Are</h2>
            <p>Powered by advanced algorithm and analytics, AskHeadHunter is modernising recruitment landscape for today's tech-savvy headhunters.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-8">
            <img src="../../assets/images/pages/aboutus/icon/kf2.svg" class="mb-4 mt-3" alt="folder">
            <h2 class="title text-left f30 mb-3">Our Benefits</h2>
            <p>Bringing efficiency and effectiveness for today's recruitment process. Discover and match the best hires using advanced algorithm. Minimise waiting time and eliminate unresponsive leads during recruitment. </p>
            <p>With offices in Kuala Lumpur, Singapore and Bangkok, AskHeadHunter is a recruitment platform whose mission is to hire quality talents using efficient algorithm and analytics. Using technology as a medium to curate potential hires for mid to top-level positions, AskHeadHunter aims to modernise the way traditional recruitment processes are performed by eliminating the stage of manual power and maximising the benefit of Applicant Tracking System.</p>
            <p> Apart from speeding up the recruitment process effectively, AskHeadHunter is also passionate about matching valuable employment opportunities with quality hires as well as presenting today’s headhunters with an avenue to create and contribute to the said partnership.</p>
          </div>
        </div>
      </div>
    </section>
  <!--  About Us section end -->