@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?gc7dc0');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?gc7dc0#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?gc7dc0') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?gc7dc0') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?gc7dc0##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search {
  &:before {
    content: $icon-search; 
  }
}
.icon-crown {
  &:before {
    content: $icon-crown; 
  }
}
.icon-correct {
  &:before {
    content: $icon-correct; 
  }
}
.icon-close-circle {
  &:before {
    content: $icon-close-circle; 
  }
}
.icon-close {
  &:before {
    content: $icon-close; 
  }
}
.icon-min {
  &:before {
    content: $icon-min; 
  }
}
.icon-max {
  &:before {
    content: $icon-max; 
  }
}
.icon-map {
  &:before {
    content: $icon-map; 
  }
}
.icon-question {
  &:before {
    content: $icon-question; 
  }
}
.icon-exlem {
  &:before {
    content: $icon-exlem; 
  }
}
.icon-bell {
  &:before {
    content: $icon-bell; 
  }
}
.icon-men {
  &:before {
    content: $icon-men; 
  }
}
.icon-call {
  &:before {
    content: $icon-call; 
  }
}
.icon-thumb {
  &:before {
    content: $icon-thumb; 
  }
}
.icon-bar {
  &:before {
    content: $icon-bar; 
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook; 
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter; 
  }
}
.icon-linkedin {
  &:before {
    content: $icon-linkedin; 
  }
}
.icon-whatsapp {
  &:before {
    content: $icon-whatsapp; 
  }
}

