$icomoon-font-family: "ahh-icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-search: "\e900";
$icon-crown: "\e901";
$icon-correct: "\e902";
$icon-close-circle: "\f134";
$icon-close: "\f136";
$icon-min: "\f16c";
$icon-max: "\f16d";
$icon-map: "\f1ab";
$icon-question: "\f1f5";
$icon-exlem: "\f1f7";
$icon-bell: "\f1fb";
$icon-men: "\f210";
$icon-call: "\f2be";
$icon-thumb: "\f313";
$icon-bar: "\f320";
$icon-facebook: "\f343";
$icon-twitter: "\f360";
$icon-linkedin: "\f3f8";
$icon-whatsapp: "\f405";

