<!-- banner section start -->
<section role="banner">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption-banner">
          <img src="../../assets/images/banner/student.png" class="w-100" alt="banner">
        </div>
        <div class="carousel-caption">
          <h3>Build your Résumé with Us</h3>
          <p>Over 800 companies hire through AskHeadHunter.</p>
          <a href="#?" class="btn btn-primary btn-lg btn-banner">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner section end -->

<!-- Transforming Traditional section start -->
<section class="section-padding image-half-split">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2 class="title mb-4">Be discovered in the next stage of your career!</h2>
        <p>Graduates are always looking for employers who want to hire them right away after graduation. We at
          AskHeadHunter would like to have them even before they graduate and connect them with potential employers.</p>
        <p> We would like to invite universities and colleges to join our growing list of network educational
          institutes to assist all existing students as well as alumni to secure future employments. The objective is
          to shorten the duration for graduates to get employed after graduation, secure better paying jobs and
          subsequently reduce our country's unemployment rates.</p>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="image-half-right">
          <img src="../../../assets/images/pages/student/computer_mockup.png" alt="computer_mockup">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Transforming Traditional section end -->

<!--  Should Start section start -->
<section class="section-padding bg-gray text-center">
  <div class="container">
    <h2 class="title text-center mb-3">Why You Should Start Now</h2>
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/images/pages/student/icon/kf2.svg" class="mb-4 mt-3" alt="Workforce Shortage">
        <strong class="d-block mb-3">Workforce Shortage</strong>
        <p>Based on recent survey, Malaysia graduates’ marketability stands at 79.1%. Meaning out of 100 graduates, 79
          of them are able to find a job within a reasonable timeframe. Whereas, a remaining handful of 15 – 24 years
          olds are still constituting to 12.4% of graduate unemployment. </p>
        <p>Many high-growth sectors such as shared services are presently still facing recruiting challenge to have
          direct access to these young potentials with some form of tertiary education or vocational skill sets.</p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/images/pages/student/icon/kf3.svg" class="mb-4 mt-3" alt="Potential Employers Don’t Have Access to Talent Pool">
        <strong class="d-block mb-3">Potential Employers Don’t Have Access to Talent Pool</strong>
        <p>AskHeadHunter will serve as a powerful linkage for all potential graduates to connect with our growing
          network of 800++ employers, allowing the HR to contact the graduates directly without any hitch. All the
          students need to do is simply register with us at askheadhunter.com</p>
      </div>
    </div>
  </div>
</section>
<!--  Should Start section end -->

<!--  Benefits section start -->
<section class="section-padding text-center">
  <div class="container">
    <h2 class="title text-center mb-3">Benefits</h2>
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/images/pages/student/icon/kf2.svg" class="mb-4 mt-3" alt="Résumé">
        <strong class="d-block mb-3">Build Your Own Résumé with a QR Code. </strong>
        <p>Based on recent survey, Malaysia graduates’ marketability stands at 79.1%. Meaning out of 100 graduates, 79
          of them are able to find a job within a reasonable timeframe. Whereas, a remaining handful of 15 – 24 years
          olds are still constituting to 12.4% of graduate unemployment.</p>
        <p> Many high-growth sectors such as shared services are presently still facing recruiting challenge to have
          direct access to these young potentials with some form of tertiary education or vocational skill sets.</p>
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col-sm-12 col-md-5">
        <img src="../../assets/images/pages/student/icon/kf3.svg" class="mb-4 mt-3" alt="Get in the Crowd">
        <strong class="d-block mb-3">Get in the Crowd</strong>
        <p>Our extensive and growing network of employers span across a number of industries, including start-ups,
          shared services, banking, insurance, manufacturing, services, hospitality and more. Thousands have benefited
          from AskHeadHunter. Do talk to us now to see how we can enroll your educational institute. </p>
        <p>We place jobseekers to work in Malaysia, Thailand and Singapore.</p>
      </div>
    </div>
  </div>
</section>
<!--  Benefits section end -->

<!--  hunting section start -->
<section class="section-padding">
  <div class="container">
    <div class="card text-center get-started" [ngStyle]="{'background-image': 'url(assets/images/banner/get-started.png)'}">
      <div>
        <h2 class="title mb-3">Let’s Put You on the Radar</h2>
        <p>Worry not, we will help you go through a successful interview.</p>
        <a href="#?" class="btn btn-primary btn-lg">Try it for Free</a>
      </div>
    </div>
  </div>
</section>
<!--  hunting section end -->
