<!-- banner section start -->
<section role="banner">
  <div class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="carousel-caption-banner">
          <img src="../../assets/images/banner/home_banner.png" class="w-100" alt="banner">
          <div class="carousel-caption-bottom">
            <div class="container">
              <span>Jay Tan</span> <span>Graphic Designer, Disney</span> <a href="#?">Read Story</a>
            </div>
          </div>
        </div>
        <div class="carousel-caption">
          <h3>The Perfect Job</h3>
          <p>Our guarantee is that we match you to your dream job. It might take a bit of time, but trust us, it’s
            worth it.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- banner section start -->

<!-- clients section -->
<ahh-scroll></ahh-scroll>
<!-- clients end section -->


<!-- hire section start -->
<section class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h2 class="title">We want you to get hired.</h2>
        <ul class="custom-list">
          <li>
            <span class="custom-list_title">Right Crowd</span>
            <p class="custom-list_content">One click and browse through thousands of results!</p>
          </li>
          <li>
            <span class="custom-list_title">Fast and Easy</span>
            <p class="custom-list_content">We provide you with your own online résumé to showcase your work and get
              hired.</p>
          </li>
          <li>
            <span class="custom-list_title">Online Resume</span>
            <p class="custom-list_content">We provide you with your own online résumé to showcase your work and get
              hired.</p>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6">
        <plyr style="display: block; width: 100%;" plyrTitle="Video 1" [plyrSources]="videoSources"></plyr>
      </div>
    </div>
  </div>
</section>
<!-- hire section end -->

<!-- 3-steps section start -->
<section class="section-padding bg-gray">
  <div class="container">
    <h2 class="title text-center mb-4">3 Easy Steps</h2>
    <div class="card-deck card-twice thumbnail">
      <div class="card">
        <img src="../../assets/images/pages/home/step1.png" class="card-img-top" alt="card image">
        <div class="card-body">
          <h5 class="card-title">The Askheadhunter<br>Résumé</h5>
          <span class="card-number">STEP 1</span>
        </div>
        <div class="card-footer">
          Upload your résumé with us or create your own AskHeadHunter résumé that will increase your chances of getting
          interview and hired for the perfect job.
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/pages/home/step2.png" class="card-img-top" alt="card image">
        <div class="card-body">
          <h5 class="card-title">Receive Call for an<br>Interview</h5>
          <span class="card-number">STEP 2</span>
        </div>
        <div class="card-footer">
          Trust us, if you have filled the AskHeadHunter résumé perfectly, there will always be an employer interested
          in your skills and work ethics. Worry not, we will help you go through a successful interview.
        </div>
      </div>
      <div class="card">
        <img src="../../assets/images/pages/home/step3.png" class="card-img-top" alt="card image">
        <div class="card-body">
          <h5 class="card-title">Received Job<br>Offers</h5>
          <span class="card-number">STEP 3</span>
        </div>
        <div class="card-footer">
          After a successful interview, you will receive a job offer. Celebrate! Get ready for your first day.<br><br><br>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- 3-steps section end -->


<section class="section-padding">
  <div class="container">
    <div class="card text-center get-started" [ngStyle]="{'background-image': 'url(assets/images/banner/get-started.png)'}">
      <div>
        <h2 class="title">Let’s Put You on the Radar</h2>
        <p>Worry not, we will help you go through a successful interview.</p>
        <a href="#?" class="btn btn-primary btn-lg">Get Started</a>
      </div>
    </div>
  </div>
</section>
